* {
    box-sizing: border-box;
}

:root {
    --primary: #ffb900;
    --secondary: #171100;
    --normal: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6 rem;
    font-family: Poppins, sans-serif;
}
/* common */
.content {
    width: 1170px;
    max-width: calc(100% - 16px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    transition: ease 0.25s;
}

.btn {
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    text-align: center;
    background: var(--secondary);
    transition: ease 0.2s;
}

.btn:hover {
    background-color: var(--primary);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */
/* nav */
.header {
    padding-top: 36px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-bar .logo,
.nav-bar .container {
    flex: 1;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .group-link {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-bar .item-group {
    padding: 11px 0;
}

.nav-bar .item-group a {
    color: var(--normal);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    position: relative;
}

.nav-bar .item-group:hover a {
    color: var(--secondary);
    font-weight: 600;
}

.nav-bar .item-group:hover a::before {
    content: "";
    background-color: var(--secondary);
    width: 14px;
    height: 3px;
    border-radius: 999px;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-bar .btn-sign-up {
    min-width: 144px;
    border-radius: 24.5px;
    padding-top: 11px;
    padding-bottom: 11px;
}

/* hero */

.hero {
    margin-top: 64px;
}
.hero .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero .container {
    width: 485px;
}

.hero .img-hero {
    position: relative;
}

.hero .img-hero > img {
    width: 470px;
    max-width: 100%;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-trend {
    width: 270px;
    height: 244px;
    padding: 28px 0 28px 24px;
    border-radius: 12px;
    background: #fff;
    position: absolute;
    right: -100px;
    bottom: 48px;
}

.hero-trend > .row {
    justify-content: flex-start;
    align-items: center;
}

.hero-trend > .row + .row {
    margin-top: 22px;
}

.hero-trend .column {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.hero-trend span {
    color: var(--normal);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero-trend strong {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
}

.hero .container .title {
    color: var(--secondary);
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .container .desc {
    margin-top: 22px;
    color: var(--normal);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .group-actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .group-actions .cta {
    border-radius: 32px;
    min-width: 180px;
    padding: 17px 33px;
    background-color: var(--primary);
}

.hero .group-actions .play-action {
    margin-right: 28px;
    margin-left: 4px;
}

.hero .group-actions span {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .subtitle {
    margin-top: 48px;
    color: var(--normal);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .data {
    margin-top: 8px;
}

.hero .data strong {
    color: var(--secondary);
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

.hero .data span {
    display: inline-block;
    margin-left: 6px;
    margin-right: 28px;
    color: var(--normal);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.22;
}

/* featured */
/* featured header */
.featured {
    margin-top: 200px;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.featured .column {
    display: flex;
    flex-direction: column;
}

.featured header .title {
    color: var(--secondary);
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.featured header .desc {
    width: 458px;
    margin-top: 16px;
    max-width: 100%;
    color: var(--normal);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.featured .group-actions {
    display: flex;
    gap: 20px;
}

.featured .btn-left,
.featured .btn-right {
    display: inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px var(--primary) solid;
    font-size: 2.5rem;
    font-weight: 100;
    border-radius: 50%;
    background-color: white;
    color: var(--primary);
}

.featured .btn:hover {
    background-color: var(--primary);
    color: #fff;
}

/* featured body */

.featured .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.featured .body {
    margin-top: 55px;
}

.featured .body .block-info {
    width: 370px;
    outline: 1px solid #e2dfda;
    border-radius: 12px;
}

.featured .body .block-info:hover {
    outline: none;
}

.featured .info {
    padding: 16px 22px 22px 22px;
}

.featured .body .sub-title {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.featured .body .star img {
    margin-right: 6px;
}

.featured .body .star span {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.featured .body .desc {
    margin-top: 6px;
    color: var(--normal);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.featured .body .row:last-child {
    margin-top: 12px;
}

.featured .body strong {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.featured .body .cta {
    min-width: 118px;
    padding: 12px 24px;
    border-radius: 25px;
}
