* {
    box-sizing: border-box;
}

:root {
    --primary: #ffb900;
    --secondary: #171100;
    --normal: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6 rem;
    font-family: Poppins, sans-serif;
}
/* common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 16px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    transition: ease 0.25s;
}

.btn {
    display: inline-block;
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    text-align: center;
    background: var(--secondary);
    transition: ease 0.2s;
}

.btn:hover {
    background-color: var(--primary);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* nav */
.header-fixed {
    background: #fffcf4;
    padding-top: 36px;
    padding-bottom: 8px;
    position: sticky;
    left: 0;
    top: -28px;
    z-index: 1;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-bar .logo,
.nav-bar .container {
    flex: 1;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .group-link {
    display: flex;
    align-items: center;
    margin-left: -12px;
}

.nav-bar .item-group {
    padding: 0 21px;
}

.nav-bar .item-group a {
    display: inline-block;
    color: var(--normal);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.nav-bar .item-group:hover a {
    color: var(--secondary);
    font-weight: 600;
    text-align: center;
}

.nav-bar .item-group.active {
    position: relative;
}

.nav-bar .item-group.active a {
    font-weight: 600;
}

.nav-bar .item-group a::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav-bar .item-group.active::before {
    content: "";
    background-color: var(--secondary);
    width: 14px;
    height: 3px;
    border-radius: 999px;
    position: absolute;
    bottom: 0;
    left: 21px;
}

.nav-bar .btn-sign-up {
    min-width: 144px;
    border-radius: 24.5px;
    padding-top: 11px;
    padding-bottom: 11px;
}
/* header */

.header {
    padding-top: 56px;
    padding-bottom: 65px;
    background: #fffcf4;
}

/* hero */

.hero .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero .container {
    width: 485px;
}

.hero .img-hero {
    position: relative;
}

.hero .img-hero > img {
    width: 470px;
    max-width: 100%;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-trend {
    width: 270px;
    height: 244px;
    padding: 28px 0 28px 24px;
    border-radius: 12px;
    background: #fff;
    position: absolute;
    right: -100px;
    bottom: 48px;
}

.hero-trend > .row {
    justify-content: flex-start;
    align-items: center;
}

.hero-trend > .row + .row {
    margin-top: 22px;
}

.hero-trend .column {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.hero-trend span {
    color: var(--normal);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero-trend strong {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
}

.hero .container .title {
    color: var(--secondary);
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .container .desc {
    margin-top: 22px;
    color: var(--normal);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .group-actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .group-actions .cta {
    border-radius: 32px;
    min-width: 180px;
    padding: 17px 33px;
    background-color: var(--primary);
}

.hero .group-actions .play-action {
    margin-right: 28px;
    margin-left: 4px;
}

.hero .group-actions span {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .subtitle {
    margin-top: 48px;
    color: var(--normal);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .data {
    margin-top: 8px;
}

.hero .data strong {
    color: var(--secondary);
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

.hero .data span {
    display: inline-block;
    margin-left: 6px;
    margin-right: 28px;
    color: var(--normal);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.22;
}

/* featured */
/* featured header */
.featured {
    margin-top: 200px;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.featured .column {
    display: flex;
    flex-direction: column;
}

.featured header .title {
    color: var(--secondary);
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.featured header .desc {
    width: 458px;
    margin-top: 16px;
    max-width: 100%;
    color: var(--normal);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.featured .group-actions {
    display: flex;
    gap: 20px;
}

.featured .btn-left,
.featured .btn-right {
    display: inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px var(--primary) solid;
    font-size: 2.5rem;
    font-weight: 100;
    border-radius: 50%;
    background-color: white;
    color: var(--primary);
}

.featured .btn:hover {
    background-color: var(--primary);
    color: #fff;
}

/* featured body */

.featured .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.featured .body {
    margin-top: 55px;
}

.featured .body .block-info {
    width: 370px;
    outline: 1px solid #e2dfda;
    border-radius: 12px;
}

.featured .body .block-info:hover {
    outline: none;
}

.featured .info {
    padding: 16px 22px 22px 22px;
}

.featured .body .sub-title {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.featured .body .star img {
    margin-right: 6px;
}

.featured .body .star span {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.featured .body .desc {
    margin-top: 6px;
    color: var(--normal);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.featured .body .row:last-child {
    margin-top: 12px;
}

.featured .body strong {
    color: var(--secondary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.featured .body .cta {
    min-width: 118px;
    padding: 12px 24px;
    border-radius: 25px;
}

/* comment */

.comment {
    margin-top: 200px;
    padding: 96px 0;
    background-color: #2e2100;
}

.comment .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comment .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.comment .column:first-child {
    top: -12px;
}

.comment .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.comment .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.comment .info {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.comment .control {
    margin-top: 28px;
    width: 30px;
    height: 6px;
    object-fit: cover;
}

.comment .desc {
    --line-clamp: 6;
    width: 740px;
    max-width: 100%;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
    position: relative;
}

.comment .quotes {
    width: 30px;
    height: 28px;
    object-fit: cover;
    position: absolute;
    top: -28px;
    left: -30px;
}

/* guide */

.guide {
    margin-top: 200px;
}

.guide .row {
    display: flex;
    flex-wrap: wrap;
}

.guide .column-left {
    width: 48%;
}

.guide .block-img {
    height: 438px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guide .block-img img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.guide .block-img img:first-child {
    align-self: flex-end;
}

.guide .column-left .sub-title {
    margin-top: 270px;
}

.column-right {
    width: 52%;
    padding: 58px 0 0 130px;
}

.guide .sub-title {
    color: var(--secondary);
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.guide .desc,
.guide .info-guide {
    margin-top: 16px;
    color: var(--normal);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.btn-guide {
    display: inline-block;
    margin-top: 32px;
    padding: 11px 37px;
    min-width: 137px;
    border-radius: 26px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.guide .column-right img {
    margin-top: 258px;
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* blog */

.blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .sub-title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.blog .desc {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.blog .row {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog .column {
    width: 370px;
    border-radius: 16px;
    background: #fff;
}

.blog .column:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .thumb {
    width: 370px;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog-info {
    padding: 20px 30px 28px;
}

.blog-info .calendar::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.blog-info .calendar {
    padding-left: 10px;
    color: var(--normal);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    position: relative;
}

.blog-info .part-way {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-info .question {
    margin-top: 12px;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}

.btn-blog {
    margin-top: 12px;
    padding: 12px 21px;
    min-width: 118px;
    border-radius: 25px;
}

.blog .control {
    display: block;
    margin-top: 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* footer */

.footer {
    margin-top: 96px;
    padding: 96px 0 28px;
    background: #2e2100;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .info {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .logan {
    margin-top: 18px;
    width: 267px;
}

.footer .group-social {
    margin-top: 18px;
}

.footer .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer :is(a:active, a:visited, a:focus) {
    color: white;
}

.footer .part-way {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .group-link .item:not(:first-child) {
    margin-top: 12px;
}

.footer .group-link .item:first-child {
    margin-top: 28px;
}

.footer strong {
    color: #fff;
    font-weight: 600;
}

.footer .location {
    margin-top: 28px;
    width: 231px;
}

.footer :is(.email, .phone) {
    margin-top: 12px;
}

.footer .main-content > .part-way {
    width: 1170px;
    margin-top: 38px;
}

.footer .copy-right {
    margin-top: 28px;
    text-align: center;
}
